
	
<li class = "uk-column-1-2 ">
	<p>{{order_name}}</p>

	<button class="change-prepared uk-button uk-button-default" data-id="{{id}}" data-newprepared="{{prepared}}">
		{{#if prepared}}Send!{{/if}}
	</button>

</li>