<h1>Orders</h1>

<h2>Preparing</h2>

<ul>
  {{#each orders}}
    {{#unless prepared}}
      {{> orders/order-block prepared=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Sent</h2>

<ul>
  {{#each orders}}
    {{#if prepared}}
      <li>  {{order_name}} </li>
      <!-- {{> orders/order-block prepared=false}} -->
    {{/if}}
  {{/each}}
</ul>

<!-- <h2>Add Your Order</h2> -->
<form class="create-form">

  <div class="form-group">
<!--     <label for="cart">Add To Cart</label> -->
    <input type="text" id="cart" name="name">
  </div>

  <button type="submit">CHECKOUT</button>
</form>
